

body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #dee4ed; /*#dee4ed*/
}



h1 {
	background-color: none;
	width: 100%;
	padding-left: 40%;

}

a {

	text-decoration: none;
	line-height: 150%;
	color: #618685;
	font-size:1.2em;
}

a:active {
	color: blue;
}

.menucontainer {
	text-decoration: underline;
	text-align: center;
	font-size: 1.6em;
	padding: 1em 0 1em 0;
}

.contentbilde img{
	height: 100%;
	width: 100%;
	padding-right: 20%;
	border-radius: 40px;

}

.headerwrapper {
	position: fixed;
	background-color: #eaeff7;	/*#dee4ed*/
	width:100%;  
	left: 0;
	top: 0;
	z-index: 1;
	box-shadow: 0em 1em 1em #888888;

}

.contentwrapper {
	position: relative;
	align-content: center;
	width:80%; 
	height:200%;
	margin:8% auto 0px auto;
	background-color: #eaeff7; /*#eaeff7*/
}

#headerleft {
	position: absolute;
	float:left;
}

#headerright {
	position: relative;
	margin-left:50%;
	float:left;
	width: 50%;

}


#contenttext {
	float left;
	width: 40%;
	height: 90%;
	margin: 0;
	padding-left: 1%;
	line-height: 200%;
}

#contentbilde {
	/* inline block <--*/
	float: right;
	width: 100%
	height: 100%;
	margin: -110% 5% 0 0;
	border-radius: 20px;
	
}

#Logo {
	z-index: 5;
	left:0;
	margin-top: 0.5%;
	width: 30%;
	height: 20%;
}

.selected {
	background-color: lightgrey;
	padding-top: 1em;
	padding-bottom: 1em;
	/*
	color: black;
	border: 2px solid black;
	border-bottom: 2px solid black;*/
}


#solution {
	padding: 1em 2em 1em 2em;
	border-right: 1px solid black;	
	border-left: 1px solid black;
}

#problem {
	padding: 1em 2em 1em 2em;
}

#contact {
	padding: 1em 2em 1em 2em;
}

@media only screen and (max-width: 340px) {
    body {
        
    }
}
