
body{
	font-family: 'Ubuntu', sans-serif, arial;
	width: 99%;
	height: 99%;
	background-color: #d8dfea;
}


h2 {
	font-size: 1.6em;

}

h3 {
	color: #49787f;
	font-size: 1.3em;
}

p {
	font-size: 1.2em;
}
strong {
	font-size: 1.1em;
}

a:focus {
	outline: 4px solid black;
}

.buttonDownload {
	position: relative;
	font-family: sans-serif;
	text-decoration: underline;
	font-size: 1.2em;
}

.buttonDownload a {
	box-shadow: silver 0em 0em 0.15em 0.15em;
	display: inline-block;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 1em;
	padding-left: 1em;
	background-color: #4CC713;
	color: white;
	font-size: 1.2em;
}


.buttonDownload a:hover{
	background-color: green;
}

.buttonDownload .tooltipText{
	font-size:1em;
	margin-left: -9.8em;
	margin-top: 2.2em;
	width: 10em;
}

.buttonDownload a:hover .tooltipText {
	visibility: visible;
}

.center {
	text-align: center;
}

.contactList {
	border-radius: 100%;
	width: 40%;
}

.contentWrapper {
	box-shadow: darkgrey 20px 10px 10px 0px;
	position: relative;
	width:80%; 
	margin:10em auto 5% auto;
	background-color: white;
	display: center;
	text-align: center;
}

.headerLeft {
	width: 20%;
	display: inline-block;
	text-align: right;
}

.headerWrapper {
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	position: fixed;
	background-color: white;	/*#dee4ed*/
	width:100%;  
	left: 0;
	top: 0;
	z-index: 1;
	box-shadow: 0px 25px 25px #888888;
}

.headerWrapper a {
	text-decoration: none;
	line-height: 150%;
	color: #405958;
	font-size:1.2em;
}

.headerWrapper a:active {
	color: black;
}

.howItWorksImg {
	width: 100%;
	border-radius: 10%;
	margin-bottom: 10em;
}

.howItWorksRight {
	display: inline-block;
	padding-top: 1em;
	margin-left: 2em;
	margin-bottom: 5%;
	align-content: left;
	text-align: left;
	width: 40%;
	vertical-align: top;
	padding-left: 1%;
}

.howItWorksRight img {
	width: 100%;
	border-radius: 10%;
	margin-bottom: 7em;
}

.lineSpacing {
	border-top: 1px solid black;
	margin-top: 1em;
}

.menuContainer {
	text-decoration: underline;
	text-align: center;
	font-size: 1.4em;
	padding: 1.4em 0 1.4em 0;
	float:right;
}

.mobileShow {
	display: none;
}

.mobileShow img {
	border-radius: 5%;
	width: 70%;
}

.padding {
	padding: 1.35em 2em 0.5em 2em;	
}

.paddingAboutUs {
	padding: 1.35em 2em 1.35em 2em;
}

.paddingAboutUs .tooltipText {
	margin-left: -5em;
	margin-top: 3em;
}

.paddingAboutUs:hover .tooltipText{
	visibility: visible;
}

.paddingDownload {
	padding: 1.35em 2em 1.35em 2em;
	border-right: 1px solid black;	
	border-left: 1px solid black;
}

.paddingDownload .tooltipText {
	margin-left: -6.5em;
	margin-top: 3em;
	width: 8em;
}

.paddingDownload:hover .tooltipText {
	visibility: visible;
}

.paddingHome .tooltipText {
	margin-left: -6.5em;
	margin-top: 3em;
}

.paddingHome:hover .tooltipText {
	visibility: visible;
}

.paddingHowItWorks {
	padding: 1.35em 2em 1.35em 2em;
}

.paddingHowItWorks .tooltipText {
	margin-left: -6.5em;
	margin-top: 3em;
}

.paddingHowItWorks:hover .tooltipText {
	visibility: visible;
}

.placement {
	margin-top: 5%;
	margin-bottom: 75%;
}

.placement2 {
	margin-top: 5%;
	margin-bottom: 30%;
	text-align: left;
}

.placement3 {
	margin-top: 5%;
	margin-bottom: 10%;
	line-height: 150%;
}

.placement3 img {
	width: 60%;
	margin-bottom: 2em;
}

.placement4 {
	margin-top: 12%;
	margin-bottom: 10%;
	line-height: 150%;

}
.placement5 {
	margin-top:5%;
	margin-bottom: 5%;
}

.tooltipText {
	padding:0.5em 0.2em 0.5em 0.2em;
	text-align: center;
	visibility: hidden;
	position: absolute;
	width: 6em;
	color: black;
	background:#a6a6a6;
	font-size: 0.8em;
	line-height: 1;
	transition-delay: 0.5s;
}

.tutorial {
	margin-right: 2em;
	display: inline-block;
	margin-bottom: 5%;
	width: 40%;
	text-align: left;
}

#buttonDownload {
		display: visible;
}

#buttonDownloadPhone {
		display: none;
}

#contactRight {
	margin-left: 1em;
	margin-right: 2em;
}

#contentLeft {
	margin-right: 2em;
	display: inline-block;
	padding-top: 1em;
	padding-bottom: 5%;
	width: 40%;
	text-align: left;
}

#contentLeft ul {
		font-size: 1.2em;
}

#contentRight { 
	display: inline-block;
	padding-top: 1em;
	margin-left: 2em;
	margin-bottom: 5%;
	align-content: left;
	text-align: left;
	width: 40%;
	vertical-align: top;
	padding-left: 1%;
}

#contentRight .howItWorksImg {
	width: 100%;
	border-radius: 5%;
	margin-bottom: 5%;
}

#contentRight ul {
	font-size: 1.1em;
	display: block;
	margin-left:15%;
	text-align: left;
	list-style-type: none;
	width: 60%;
	margin-top: 0.4em;
}

#contentRight2 img{
	margin-top: 2em;
	display: inline-block;
	position: center;
	width: 100%;
	border-radius: 10%;
}

#downloadRight {
	text-align: center;
	width: 100%;
	padding-top: 4.5em;
}

#headerRight {
	position: relative;
	width: 79.5%;
	display: inline-block;
	float:right;
	right: 0;
}

#homeId {
	display: none;
}

#homeIdSelected {
	display: none;
}

#logo {
	display: inline-block;
	z-index: 5;
	vertical-align: top;
	height: 4.8em;
	padding-top: 0.2em;
	padding-bottom: 0.3em;
}

#logo2 .tooltipText {
	margin-left:-6.5em;
	margin-top: 4.3em;
	font-size: 1.15em;
}

#logo2:hover .tooltipText {
	visibility: visible;
}

#selected {
	background-color: lightgrey;
}


@media only screen and (max-width: 900px) {

	html {
	width: 99%;
	}	

	p {
		margin-bottom: 10%;
	}

	ul {
		padding-bottom: 5%;
	}

	.buttonDownload {
		margin-bottom: 4em;
	}

	.buttonDownload .tooltipText {
		font-size:0.7em;
		margin-top: 3em;
		margin-left: -12em;
	}

	.contentWrapper {
		width: 95%;
		margin:6em auto 5% auto;
		box-shadow: none;
	}

	.contentWrapper #buttonDownloadPhone {
		display: inline;
	}

	.headerLeft {
    	display: none;
    }

	.headerWrapper {
		text-align: center;
		width: 100%;
		box-shadow:0px 10px 10px #888888
	}

	.headerWrapper a:active {
		color: black;
	}

	.howItWorksImg {
		display: none;
	}

	.howItWorksRight {
		display: table-row;
		width: 99%;
	}

	.howItWorksRight img {
		width: 70%;
		margin-left: 15%;
		margin-bottom: 3em;
	}

	.menuContainer {
		height: auto;
		padding:1.4em 0 1.4em 0em;
		width: 100%;
		font-size: 0.8em;
	}

	.mobileShow {
		display: initial;
	}

	.mobileShow img {
		margin-top: 1em;
		width: auto;
		max-width: 40%;
		min-width: 30%;
		height: auto;
	}

	.padding {
		padding: 0.5em 2em 0.5em 2em;
	}

	.paddingAboutUs {
		padding: 1.35em 3% 1.35em 3%;
	}

	.paddingAboutUs .tooltipText {
		font-size: 1em;
		margin-left: -5.1em;
	}

	.paddingDownload {
		padding: 1.35em 3% 1.35em 3%;
		border-right: 1px solid black;	
		border-left:none
	}

	.paddingDownload .tooltipText {
		font-size: 1em;
		margin-left: -6.3em;
	}

	.paddingHome {
		border-right: 1px solid black;
		padding: 1.35em 3% 1.35em 3%;
	}

	.paddingHowItWorks {
		border-right: 1px solid black;
		padding: 1.35em 3% 1.35em 3%;	
	}

	.paddingHowItWorks .tooltipText {
		font-size: 1em;
		margin-left: -6em;
	}

	.placement2 {
	margin-top: 0%;
	margin-bottom: 0%;
	}

	.placement3 {
	margin-top: 5%;
	margin-bottom: 0%;	
	}

	.placement5 {
	margin-top: 0%;
	margin-bottom: 0%;
	}

	.tutorial {
		margin-right: 2em;
		margin-top: -3em;
		padding-bottom: 5%;
		text-align: left;
		display: inline-block;
		width: 90%;
		padding-left: 2%;
	}

	#buttonDownload {
		display: none;
	}

	#contentLeft {
		display: inline-block;
		width: 90%;
		padding-left: 2%;
		margin-bottom: -5em;
	}

	#contentRight {
    	display: block;
    	width: 90%;
    	margin-left: 0em;
    	padding-left: 1em;
    	margin-bottom: -2em;
	}

	#contentRight ul {
	margin-left: 30%;
	}

	#contentRight2 {
		display: none;
	}

	#contentRight2 img {
		width: 50%;
		margin-left: 30%;
		margin-bottom: 5%;
	}

	#headerRight {
		width: 100%;
    }

    #homeId {
    	display: inline;
    }

    #homeId .tooltipText {
		margin-left: -4.2em;
		font-size: 1em;
	}

    #homeIdSelected {
    	display: inline;
    	background-color: lightgrey;
    }

    #homeIdSelected .tooltipText {
		margin-left: -4.2em;
		font-size: 1em;
	}
}


@media only screen and (max-width: 500px) {

	.menuContainer a {
		font-size: 0.9em;
	}

	.paddingAboutUs {
		padding: 1.75em 3% 1.75em 3%;
	}

	.paddingDownload {
		padding: 1.75em 3% 1.75em 3%;
		border-right: 1px solid black;	
		border-left:none
	
	}

	.paddingHome {
		border-right: 1px solid black;
		padding: 1.75em 3% 1.75em 3%;
	
	}

	.paddingHowItWorks {
		border-right: 1px solid black;
		padding: 1.75em 3% 1.75em 3%;	
	}

	#contentRight ul {
	margin-left: 20%;
	}
}










