
.contentbilde img{
	height: 100%;
	width: 100%;
	padding-right: 20%;
	border-radius: 40px;

}

body{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #dee4ed;
}

#navbar {
	background-color: green;
	color:black;
	text-decoration: none;
	font-size: 40px;

}

ul {
	text-decoration: none;
	text-align: right;
	font-size: 150%;
	width: 100%;
	
}

h1 {
	background-color: none;
	width: 100%;
	padding-left: 40%;

}

a {
	padding: 0 12% 0 5%;
	text-decoration: none;
	line-height: 150%;
	color: white;
}


#header {
	position: fixed;
	/*background-color: gray;*/
	border:4px solid #000;	
	width:100%; 
	height:10%; 
	left: 0;
	top: 0;
	z-index: 1;
	box-shadow: 10px 10px 5px #888888;


}

#header ul a:hover {
	text-decoration:underline;
	
}

#header ul a:visited {
	color:green;
	
}

.contentwrapper {
	position: relative;
	align-content: center;
	border:1px solid #000; 
	width:80%; 
	height:200%;
	margin:12% auto 0px auto;
	background-color: #eaeff7;
}

#contenttext {
	float left;
	border:5px solid #000;
	width: 40%;
	height: 90%;
	margin: 0;
	padding-left: 1%;
	line-height: 200%;
}

#contentbilde {
	border:5px solid #000;
	float: right;
	width: 100%
	height: 100%;
	margin: -110% 5% 0 0;
	border-radius: 20px;
	
}

#header a img {
	width: 10%;
}


