
a:focus {
	outline: 4px solid black;
}

body{
	font-family: 'Ubuntu', sans-serif, arial;
	width: 99%;
	height: 99%;
	background-color: #d8dfea;
}

p {
	font-size: 1.14em;
}

a:focus {
	outline: 4px solid black;
}

.headerWrapper a {

	text-decoration: none;
	line-height: 150%;
	color: #405958;
	font-size:1.2em;
}

.headerWrapper a:active {
	color: black;
}

.headerWrapper {
	position: fixed;
	background-color: white;	/*#dee4ed*/
	width:100%;  
	left: 0;
	top: 0;
	z-index: 1;
	box-shadow: 0em 1em 1em #888888;
}

.menuContainer {
	text-decoration: underline;
	text-align: center;
	font-size: 1.4em;
	padding: 1.4em 0 1.4em 0;
	float:right;
}

.contentWrapper {
	box-shadow: darkgrey 0.9em 0.9em 0.5em 0em;
	position: relative;
	width:80%; 
	margin:10em auto 5% auto;
	background-color: white;
	display: center;
	text-align: center;
}

.buttonDownload a {
	box-shadow: silver 0em 0em 0.15em 0.15em;
	display: inline-block;
	position: relative;
	padding: 1em 4em;
  
	background-color: #4CC713;
	color: white;
  
	font-family: sans-serif;
	text-decoration: underline;
	font-size: 1.2em;
	text-align: center;
}

.buttonDownload:hover a {
	background-color: green;
}

.buttonDownload .tooltipText{
	font-size:1.2em;
	margin-left: -14em;
	margin-top: 3.5em;
	width: 10em;
}
.buttonDownload:hover .tooltipText {
	visibility: visible;
}

.pdfDownload {
	box-shadow: silver 0em 0em 0.15em 0.15em;
	display: inline-block;
	position: relative;
	padding: 1em 4em;
  
	background-color: #4CC713;
	color: white;
  
	font-family: sans-serif;
	text-decoration: underline;
	font-size: 1.2em;
	text-align: center;
}

.pdfDownload:hover {
	background-color: #333;
	color: white;
}

.tooltipText {
	text-align: center;
	visibility: hidden;
	position: absolute;
	width: 6em;
	color: black;
	background:lightgrey;
	font-size: 0.7em;
	line-height: 1;
	transition-delay: 0.5s;
}

.headerLeft {
	width: 15%;
	display: inline-block;
	text-align: right;
}

.contactList {
	border-radius: 5em;
	width: 30%;
}

.tips {
	width: 50%;
	text-align: left;
	margin-left: 26%;
	margin-top: 3%;
	padding-bottom: 5%;
}

.center {
	text-align: center;
}

.placement {
	margin-top: 5%;
	margin-bottom: 75%;
}

.placement2 {
	margin-top: 5%;
	margin-bottom: 30%;
	text-align: left;
}

.placement3 {
	margin-top: 7%;
	margin-bottom: 5%;
	line-height: 150%;
}

.placement4 {
	margin-top: 12%;
	margin-bottom: 10%;
	line-height: 150%;

}

#headerRight {
	position: relative;
	width: 83%;
	display: inline-block;
	float:right;
	right: 0;
}

#contactRight {
	margin-left: 1em;
	margin-right: 2em;
}

#contentLeft {
	margin-right: 2em;
	display: inline-block;
	padding-top: 1em;
	margin-bottom: 5%;
	width: 40%;
	text-align: left;
	border: 1px solid black;
}

#contentRight { /* HUSK MINIMUM STØRRELSE, SLIK AT BLOKKENE GÅR UNDER HVERANDRE MED ZOOM!*/
	display: inline-block;
	padding-top: 1em;
	margin-left: 2em;
	margin-bottom: 5%;
	align-content: left;
	text-align: left;
	width: 40%;
	vertical-align: top;
	padding-left: 1%;
	border: 1px solid black;
}

#selected {
	background-color: lightgrey;
}

#logo {
	display: inline-block;
	z-index: 5;
	vertical-align: top;
	height: 4.8em;
	padding-top: 0.2em;
	padding-bottom: 0.3em;
}

.padding {
	padding: 1.35em 2em 1.35em 2em;
	border: 1px solid black;
}
.paddingHowItWorks {
	padding: 1.35em 2em 1.35em 2em;
}
.paddingAboutUs {
	padding: 1.35em 2em 1.35em 2em;
}
.paddingDownload {
	padding: 1.35em 2em 1.35em 2em;
	border-right: 1px solid black;	
	border-left: 1px solid black;
}

#logo2 .tooltipText {
	margin-left:-7em;
	margin-top: 5.2em;
	font-size: 1.2em;
}

#logo2:hover .tooltipText {
	visibility: visible;
}

.paddingHowItWorks .tooltipText {
	margin-left: -7em;
	margin-top: 3em;
}

.paddingHowItWorks:hover .tooltipText {
	visibility: visible;
}

.paddingDownload .tooltipText {
	margin-left: -7em;
	margin-top: 3em;
	width: 8em;
}

.paddingDownload:hover .tooltipText {
	visibility: visible;
}

.paddingAboutUs .tooltipText {
	margin-left: -5.5em;
	margin-top: 3em;
}

.paddingAboutUs:hover .tooltipText{
	visibility: visible;
}

#contentRight2 img{
	margin-top: 2em;
	display: inline-block;
	position: center;
	width: 100%;
	border-radius: 10%;
}

#downloadRight {
	padding-top: 4.5em;
}

ul {
}

#contentRight li {
	text-align: left;
	list-style-type: none;
	margin-left: 10em;
	margin-top: 0.4em;
}

.howItWorksRight {
	display: inline-block;
	padding-top: 1em;
	margin-left: 2em;
	margin-bottom: 5%;
	align-content: left;
	text-align: left;
	width: 40%;
	vertical-align: top;
	padding-left: 1%;
	border: 1px solid black;
}

.howItWorksRight img {
	width: 100%;
	border-radius: 10%;
	margin-bottom: 7em;
}

.howItWorksRight {

}

#bilde1 {

}

strong {
	font-size: 1.1em;
}

@media only screen and (max-width: 1000px) {
    #headerLeft {
    	width: 0%;
    }
}

